body {
    background-color: #9CB6AD;
    min-height: 100vh;
}

.container {
    height: 100%;
    display: grid;
    /*grid-template-columns: repeat(3, minmax(33%, auto));*/
    grid-template-rows: repeat(3, minmax(33%, auto));

    /*grid-template-areas: "header header" "content content" "footer footer";*/

    /*grid-area: 150px 150px;*/
    grid-row-gap: 0px;
    /*cetners contant horizontally */
    justify-content: center;
    /*cetners contant vertically */
    align-items: center;

}

#header {
    grid-area: header;
    margin-top: 150px;
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

#content {
    grid-area: content;
    text-align: center;
    align-items: center;
    padding: 0px
}

#footer {
    grid-area: footer;
    text-align: center;
    color: whitesmoke;
    font-family: Bradley Hand, cursive;
    font-size: 25px;
}

p {
    margin-bottom: 50px;
}


button {
    font-size: 35px;
    background-color: #DEAC9B;
    color: whitesmoke;
    border-radius: 20px;
    border-color: #DEAC9B;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}


form {
    font-family: Bradley Hand, cursive;
    color: whitesmoke;
    font-size: 40px;
    padding-bottom: 90px;

}

h2 {
    margin-bottom: 5px;

}

input {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #DEAC9B;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    overflow: none;
    background-color: #A3886B;
    display: flex;
    margin-left: -8px;
    margin-top: 0px;
    padding: 0;
    top: 0;
    position: fixed;
    width: 100%;
    justify-content: flex-end;

}



ul li a {
    /*allows to specify padding and etc. */
    display: block;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding: 14px;
}

.log-out {
    padding-right: 50px;
}

.row {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
    /*cetners contant vertically */
    align-items: center;

    font-size: 45px;
    padding-top: 100px;
}

.column {
    height: 500px;
    text-align: center;
    font-family: Bradley Hand, cursive;
    color: whitesmoke;
    text-decoration: underline;
    border: 5px;
    border-style: solid;
    border-color: whitesmoke;


}

#left {}

#right {}